@import 'antd-mobile/bundle/css-vars-patch.css';

.adm-list-item-content-arrow{
    display: none;
}

.adm-list-header{
    background-color: #fbfbfb;
}

.div_lista_tareas_fecha{
    display: flex;
    justify-content: center;
}