@import 'antd-mobile/bundle/css-vars-patch.css';

.adm-list-item-content-arrow{
    display: none;
}

.div_lista_tareas_fecha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 10px;
    border-bottom: solid 2px #f4f4f4 ;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #56b43c;
}

.adm-list-item-description{
    color: #56b43c;
}

.adm-card-header{
    justify-content: center;
    color:#56b43c;
}

.adm-dialog-footer .adm-dialog-action-row > .adm-dialog-button-bold{
    font-weight: 400;
}

.bold{
    font-weight: bold;
}