@import 'antd-mobile/bundle/css-vars-patch.css';

.adm-list-item-content-arrow{
    display: none;
}

.div_lista_tareas_fecha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #56b43c;
    margin-top: 3px;
    margin-bottom: -15px;
}

.adm-list-header{
    color: black;
    font-size: 14px;
}

.adm-list-item-description{
    color: #56b43c;
}

.adm-card-header{
    justify-content: center;
    color:#56b43c;
}

.adm-dialog-footer .adm-dialog-action-row > .adm-dialog-button-bold{
    font-weight: 400;
}

.bold{
    font-weight: bold;
}

.div_elip_badge{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.adm-dialog-body{
    height: auto;
    width: 120%;
    margin-left: -28px;
}