@import "antd-mobile/bundle/css-vars-patch.css";

.lista_infoClient{
    margin-top: 1em;
}

.lista_infoClient .adm-list-header{
    background-color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #56b43c;
}

.p_infoClient{
    font-size: 14px;
    font-weight: bold;
}