@import "antd-mobile/bundle/css-vars-patch.css";

.lista_infoClient{
    display: block;
    height: calc(100% - 20px) !important;
}

.card_empresa{
    width: 90vw;
}

.p_info{
    font-size: 16px;
    margin: 5px 0px;
}

.p_infoEmpresa{
    font-size: 20px;
    font-weight: bold;
    color: #56b43c;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.p_infoContacto{
    font-size: 18px;
    font-weight: bold;
    color: #56b43c;
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.border{
    border: solid 1px #f4f4f4;
    margin-bottom: 0px;
    border-radius: 1px;
}

.div_contacto{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_contacto2 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 140px);
} 

.card_contactos {
    margin-bottom: -1rem;
    height: 100%;
}
.card_contactos .adm-card-header-title{
    font-size: 20px;
}

.div_contacto_lista {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 90vw;
    height: 100%;
    
}

.div_contacto2 .adm-card-body{
    height: calc(100% - 80px);
    padding: 12px 0px 0px 0px;
}

.numCel{
    text-decoration: none;
    list-style: none;
    color:rgb(66, 66, 66);
}

.div_contenedor_info{
    height: calc(100% - 16px);
}