@import "antd-mobile/bundle/css-vars-patch.css";

.lista_infoClient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_empresa{
    width: 90vw;
}

.p_info{
    font-size: 16px;
    margin-top: 10px;
}

.p_infoEmpresa{
    font-size: 20px;
    font-weight: bold;
    color: #56b43c;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.p_infoContacto{
    font-size: 18px;
    font-weight: bold;
    color: #56b43c;
    text-align: center;
}

.border{
    border: solid 1px #f4f4f4;
    margin-bottom: 10px;
    margin-bottom: 0px;
    border-radius: 1px;
}

.div_contacto{
    margin-top: 1rem;
}

.card_contactos .adm-card-header-title{
    font-size: 20px;
}

.div_contacto_lista{
    height: calc(100% - 150px);
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 90vw;
}

.numCel{
    text-decoration: none;
    list-style: none;
    /* font-weight: 600; */
    color:rgb(66, 66, 66);
}