@import "antd-mobile/bundle/css-vars-patch.css";

.contenedor-cliente-individual {
  height: calc(100% - 95px);
  width: 100vw;
  position: fixed;
}

.div_lista_l {
  display: block;
  height: calc(100%);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* .capsule_fix {
  position: fixed;
} */

.div_lista_l .swipe_clienteTarea{
  margin-bottom: -6px;
}
