@import "antd-mobile/bundle/css-vars-patch.css";

.div_empresa {
  color: #56b43c;
  font-weight: bold;
  padding-left: 12px;
}

.adm-list-item {
  /* padding-left: 0px; */
  padding: 0px 4px;
}

.adm-search-bar-active .adm-search-bar-input-box {
  border-color: #56b43c;
}
