@import 'antd-mobile/bundle/css-vars-patch.css';


.vista_home_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    flex: 0;
}

.vista_home_content1{
    background-color: #f8f8f8;
    width: 10vw;
    height: 100vh;
}


.vista_home_content{
    background-color: #f8f8f8;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home_nav{
    flex: 0;
    z-index: 1;
    width: 100vw;
    background-color: white;
}

.adm-tabs-content{
    text-align: start;
}

.home_contenido{
    flex: 1;
    z-index: 1;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f8f8f8;
}

.home_menuInf{
    flex: 0;
    z-index: 1;
    width: 100vw;
    background-color: white;
}

.adm-safe-area{
    --multiple:3;
}

body{
    position: fixed;
    height: 100%;
}

.espacio-blanco {
    width: 100%;
    height: 20px;
    background-color: white;
}