@import "antd-mobile/bundle/css-vars-patch.css";

.adm-tabs {
  --active-line-color: #56b43c !important;
}
.adm-tabs-tab-active {
  --active-title-color: #56b43c;
}
.adm-tabs-tab-active:active {
  --active-title-color: #56b43c;
}

.lista_tareas{
  overflow: auto !important;
}

.adm-capsule-tabs-content{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  margin-left: -20px;
  width: 102vw;
  overflow-x: hidden;
}

.adm-capsule-tabs-header{
  position: fixed;
  z-index: 1;
  background-color: white;
}

.adm-capsule-tabs-tab{
  font-size: 14px;
  padding: 8px 15px;
}

