.paht.running {
    stroke: #56b43c !important;
}

@keyframes dash {
    0% {
      stroke-dasharray: 0, 150;
      stroke: #56b43c;
      opacity: 1;
    }
    50% {
      stroke: #56b43c;
    }
    70% {
      stroke: #56b43c;
    }
    80% {
      stroke: #56b43c;
    }
    90% {
      stroke: #56b43c;
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      stroke-dasharray: 120;
      opacity: 0;
      stroke: #56b43c;
    }
  }

.reactSpinner{
    margin-left: 45%;
    margin-top: 8%;
}