@import 'antd-mobile/bundle/css-vars-patch.css';

.vista_login_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}

.vista_login_content{
    background-color: #f8f8f8;
    width: 100vw;
    max-width: 600px;
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_content{
    margin-top: -20vh;
    margin-left: 2vw;
}
.form_login{
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form_login_label{
    font-family: sans-serif;
    color:#8f8c8e;
    padding: 0px;
}

.form_login_input{
    border : 0px none rgb(73, 80, 87); 
    background : rgb(255, 255, 255);
    box-sizing : content-box;
    width: 100%;
}

.adm-list-item-content-prefix{
    text-align: start;
    padding-left: 10px;
}

.recordar{
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.recordar_check{
    margin-left: auto;
    right: 5%;
}

.btn_content{
    display: block;
}

.btn_content_btn{
    margin-top: 4vh;
    width: 100%;
    height: 7vh;
    display: block;
    background-color: #56b43c;
    color: white;
}

.recuperar{
    margin-bottom: -30px;
    margin-top: 30px;
}

.eye {
    padding: 4px;
    cursor: pointer;
}

.adm-checkbox.adm-checkbox-checked .adm-checkbox-icon {
	border-color: #56b43c !important;
	background-color: #56b43c !important;
}

.vista_login_content .adm-form-footer {
    padding: 20px 0px;
}