@import 'antd-mobile/bundle/css-vars-patch.css';

.div_content_calendario{
  text-align: start;
}

.div_lista {
    display: block;
    height: 210px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

.adm-calendar{
  background-color: white;
}

.adm-calendar-cell.adm-calendar-cell-selected.adm-calendar-cell.adm-calendar-cell-selected{
  background-color: white;
  color:#56b43c;
  border: solid 1px #56b43c;
}

