@import "antd-mobile/bundle/css-vars-patch.css";

.titulo-form {
  text-align: left;
  margin: 10px 15px !important;
}

.input-fechaHora {
  padding: 8px 10px;
  position: relative;
  background-color: white;
  opacity: 1;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  vertical-align: center;
}
