.tarea-negocio-contenedor {
    width: calc(100% - 9px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.tarea-negocio-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 100%;
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-radius: 2px;
    background-color: white;
}

.tarea-negocio-linea-superior {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    align-items: center;
    justify-content: space-between;
}

.tarea-negocio-linea-intermedia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0px 0px 0px;
}

.tarea-negocio-linea-inferior {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 0px 5px 0px;
    justify-content: space-between;
}

.tarea-negocio-linea-inferior-timeline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 0px 5px 0px;
    /* justify-content: space; */
}

.tarea-negocio-linea-inferior-uno{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 0px 0px 0px;
    justify-content: flex-start;
    width: 90%;
}
.tarea-negocio-linea-inferior-dos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 0px 0px 0px;
    justify-content: center;
    width: 10%;
}

.tarea-negocio-fecha {
    color: #00B33C;
    margin: 0px 5px;
}

.tarea-negocio-titulo {
    margin: 6px 0px 3px 0px;
    font-size: 1rem;
    color:rgba(0,0,0, 0.65);
    font-weight: bold;
}

.adm-steps-vertical .adm-step .adm-step-content .adm-step-description {
    padding-top: 0px;
}

.tarea-negocio-contacto {
    margin: 0px 5px;
    text-transform: uppercase;
}

.tarea-negocio-tipoTarea {
    margin: 0px 5px;
    text-transform: uppercase;
    color: #00B33C;
}

.tarea-negocio-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 5px;
}

.tarea-contenedor-horario {
    padding: 4px 5px;
    color: gray;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin: 0px 0px;
}

.texto-tarea-horario {
    margin: 1px 0px 1px 5px;
    font-size: 0.8rem;
}

.adm-swipe-action{
    background-color: #f4f4f4;
}

.wrapper_lista{
    width: calc(100% - 5px);
}

.adm-swipe-action-content {
    margin-left: 4px;
    margin-top: 5px;
}

.VerMas{
    padding: 4px 5px;
    margin: 5px 0px;
    text-align: center;
}